@import url("https://fonts.cdnfonts.com/css/roobert");

body {
  font-family: "Roobert", sans-serif;
}
.page {
  background-color: #e6e7e8;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}

.content {
  font-size: 18px;
  color: black;
}
