@import url("https://fonts.cdnfonts.com/css/roobert");

body {
  font-family: "Roobert", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8e3ee1;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.nav-links li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-links li::after {
  content: "▼";
  font-size: 10px;
  color: #4bcd3e;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-button {
  background-color: #1d1f48;
  border: 3px solid #1d1f48;
  color: rgb(255, 255, 255);
  padding: 7px 20px;
  margin: 0px 10px;
  font-weight: 600;
  font-size: 11.55px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
  height: 35px;
}

.search-icon {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.search-icon:hover {
  color: #4bcd3e;
}
